<form #taskForm="ngForm" name="taskForm" (ngSubmit)="onSubmitTask()">
  <ion-item>
    <ion-input [(ngModel)]="customTask.label" name="label" placeholder="Label" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="customTask.description" name="description" placeholder="description" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="customTask.limitDate" type="date" name="limiteDate" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="addLocation()">Add location</ion-button>
    <ion-text *ngIf="successMessage !== ''" color="success">{{successMessage}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-button (click)="onCancel()">Cancel</ion-button>
    <ion-button type="submit">Submit</ion-button>
  </ion-item>

  <ion-item *ngIf="errorMessage !== '' "><ion-text color="danger">{{errorMessage}}</ion-text></ion-item>
</form>