<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        TaskMaster
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="TaskList.length > 0 && isLoaded; else noTask">
    <ion-list>
      <ion-item *ngFor="let task of TaskList">
        {{task.label}}
        <br>
        {{task.description}}
        <br>
        {{task.limitDate}}
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noTask>
    Aucune tâche en cours
  </ng-template>
   

   <ion-button (click)="onCreateTask()">Create a new task</ion-button>
</ion-content>
